<h4>Update your password:</h4>

<%= form_for current_user, :url => edit_password_userprofile_path do |f| %>
  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <hr>

  <%= f.submit "Update Password" %>
<% end %>
