<% if current_user %>
  <h4>Here's your profile info:</h1>
  <p>Username: <%= current_user.username %></p>
  <p>Email: <%= current_user.email %></p>
  <%= link_to "Edit Information", edit_userprofile_path, class: "btn btn-sm btn-default" %>
  <%= link_to "Edit Password", edit_password_userprofile_path, class: "btn btn-sm btn-default" %>
<% else %>
  <%= controller.redirect_to new_user_path, notice: "Try making a new profile" %>
<% end %>
